
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}



header{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg) ;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position:center;
    background-color: white;
}

body{
    background-color: #273036;
    color:blue;
    height: 4000px;
    
        overflow-x: hidden;


}

main{
    
    height: 2000px;
    
}
.ocean { 
    height: 5%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background:#273036 ;
  }

.wave {
    background: url(wave1.svg) repeat-x;
    
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  
  
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
